# env files
.env*

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
.ruff_cache/
.pytest_cache/

# Node
node_modules/
.next/
out/
build/
dist/

# System / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Data directory
/data/
/data_samples/
