{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 200,
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": ["*.py", "*.sh"],
      "options": {
        "tabWidth": 4,
        "singleQuote": false
      }
    }
  ]
}
